@model List<SeriesViewModel>
<!DOCTYPE html>
<div class="container-fluid blog py-5 my-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 class="text-primary">En yüksek puanı alanlar</h5>
            <h1>IMDB En İyi Puan Alan 5 Dizi</h1>
        </div>
        <div class="row g-5 justify-content-center">
            @foreach (var item in Model)
            {
                <div style="padding:20px;" class="col-lg-6 col-xl-4 wow fadeIn" data-wow-delay=".7s">
                    <div class="blog-item position-relative bg-light rounded">
                        <img src="@item.image" class="img-fluid w-100 rounded-top" alt="">
                        <span class="position-absolute px-4 py-3 bg-primary text-white rounded" style="top: -28px; right: 20px;">@item.rating</span>
                        <div class="blog-btn d-flex justify-content-between position-relative px-3" style="margin-top: -75px;">
                            <div class="blog-icon btn btn-secondary px-3 rounded-pill my-auto">
                                <a href="@item.imdb_link" class="btn text-white ">Daha Fazla</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
